{% extends 'base.html' %}
{% block title %}Groups{% endblock title %}
{% block content %}
    <br>
    <br>
    <button type="button" class="btn btn-dark"><a href ="{% url 'group-create' %}">Add New Group</a></button>
            <br>
            <br>
    {% for group in object_list %}
    <div class="card">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{{ group.get_absolute_url }} ">{{ group.name }}</a></span> &middot;
            </div>
    </div>
    {% endfor %}
{% endblock content %}