{% extends 'base.html' %}
{% block title %}Search{% endblock title %}
{% block content %}
    <h1>Search Results</h1>
{% for patient in patient_list %}
    <div>
        <h3><a href="{{ patient.get_absolute_url }}">{{ patient.name }}</a></h3>
        <p>Gender: {{ patient.gender }}</p>
        <p>DOB:  {{ patient.dob }}</p>
        <p>Email: {{ patient.email }}</p>
        <p>Groups:
            {% for group in patient.groups.all %}
                <span>{{ group.name }}</span>
            {% endfor %}
        </p>
    </div>
{% endfor %}
{% endblock content %}